<!DOCTYPE root[<!ELEMENT AdminAccountPaymentCancelPage ANY>
<!ATTLIST AdminAccountPaymentCancelPage id ID #REQUIRED>
<!ELEMENT AdminSafetyAndPrivacyPage ANY>
<!ATTLIST AdminSafetyAndPrivacyPage id ID #REQUIRED>
<!ELEMENT AdminAccountInvoice ANY>
<!ATTLIST AdminAccountInvoice id ID #REQUIRED>
<!ELEMENT AdminAccountPaymentResultPage ANY>
<!ATTLIST AdminAccountPaymentResultPage id ID #REQUIRED>
<!ELEMENT AdminAccountViewInvoicesPage ANY>
<!ATTLIST AdminAccountViewInvoicesPage id ID #REQUIRED>
<!ELEMENT AdminAccountViewPaymentsPage ANY>
<!ATTLIST AdminAccountViewPaymentsPage id ID #REQUIRED>
 
<!ELEMENT AdminAccountDetailsPage ANY>
<!ATTLIST AdminAccountDetailsPage id ID #REQUIRED>
<!ELEMENT AdminAccountPage ANY>
<!ATTLIST AdminAccountPage id ID #REQUIRED>
<!ELEMENT AdminAccountPaymentMethod ANY>
<!ATTLIST AdminAccountPaymentMethod id ID #REQUIRED>
<!ELEMENT AdminAccountReceipt ANY>
<!ATTLIST AdminAccountReceipt id ID #REQUIRED>
<!ELEMENT AdminAccountStatus ANY>
<!ATTLIST AdminAccountStatus id ID #REQUIRED>
<!ELEMENT AdminBase ANY>
<!ATTLIST AdminBase id ID #REQUIRED>
<!ELEMENT AdminHomePage ANY>
<!ATTLIST AdminHomePage id ID #REQUIRED>
<!ELEMENT KeepAlive ANY>
<!ATTLIST KeepAlive id ID #REQUIRED>
<!ELEMENT LoginPage ANY>
<!ATTLIST LoginPage id ID #REQUIRED>

]>
<root id="-1">
  <AdminHomePage id="1097" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1095" template="1094" sortOrder="0" createDate="2015-06-15T16:01:35" updateDate="2015-06-15T16:02:07" nodeName="EasyList" urlName="easylist" writerName="admin" creatorName="admin" path="-1,1097" isDoc="">
    <pageTitle>EasyList Dashboard</pageTitle>
    <browserTitle>EasyList Dashboard</browserTitle>
    <LoginPage id="1100" parentID="1097" level="2" writerID="0" creatorID="0" nodeType="1093" template="1079" sortOrder="0" createDate="2015-06-15T16:06:29" updateDate="2015-06-15T16:11:59" nodeName="Login" urlName="login" writerName="admin" creatorName="admin" path="-1,1097,1100" isDoc="">
      <pageTitle>EasyList - Login</pageTitle>
      <browserTitle>Login</browserTitle>
    </LoginPage>
    <AdminAccountPage id="1101" parentID="1097" level="2" writerID="0" creatorID="0" nodeType="1090" template="1083" sortOrder="1" createDate="2015-06-15T16:17:33" updateDate="2015-06-15T16:18:10" nodeName="Account" urlName="account" writerName="admin" creatorName="admin" path="-1,1097,1101" isDoc="">
      <pageTitle>Account</pageTitle>
      <browserTitle>Account</browserTitle>
      <AdminAccountStatus id="1102" parentID="1101" level="3" writerID="0" creatorID="0" nodeType="1091" template="1087" sortOrder="0" createDate="2015-06-16T09:54:56" updateDate="2015-06-16T09:55:11" nodeName="Status" urlName="status" writerName="admin" creatorName="admin" path="-1,1097,1101,1102" isDoc="">
        <pageTitle>Account Status</pageTitle>
        <browserTitle>Account Status</browserTitle>
      </AdminAccountStatus>
      <AdminAccountViewPaymentsPage id="1114" parentID="1101" level="3" writerID="0" creatorID="0" nodeType="1113" template="1112" sortOrder="1" createDate="2015-06-17T09:58:22" updateDate="2015-06-17T09:58:38" nodeName="View Payments" urlName="view-payments" writerName="admin" creatorName="admin" path="-1,1097,1101,1114" isDoc="">
        <pageTitle>View Payments</pageTitle>
        <browserTitle>View Payments</browserTitle>
      </AdminAccountViewPaymentsPage>
      <AdminAccountDetailsPage id="1115" parentID="1101" level="3" writerID="0" creatorID="0" nodeType="1106" template="1081" sortOrder="2" createDate="2015-06-17T09:59:11" updateDate="2015-06-17T09:59:22" nodeName="Details" urlName="details" writerName="admin" creatorName="admin" path="-1,1097,1101,1115" isDoc="">
        <pageTitle>Account Details</pageTitle>
        <browserTitle>Account Details</browserTitle>
      </AdminAccountDetailsPage>
      <AdminAccountViewInvoicesPage id="1116" parentID="1101" level="3" writerID="0" creatorID="0" nodeType="1111" template="1088" sortOrder="3" createDate="2015-06-17T10:02:09" updateDate="2015-06-17T10:02:56" nodeName="View Invoices" urlName="view-invoices" writerName="admin" creatorName="admin" path="-1,1097,1101,1116" isDoc="">
        <pageTitle>View Invoices</pageTitle>
        <browserTitle>View Invoices</browserTitle>
      </AdminAccountViewInvoicesPage>
      <AdminAccountPaymentResultPage id="1120" parentID="1101" level="3" writerID="0" creatorID="0" nodeType="1110" template="1085" sortOrder="4" createDate="2015-06-17T10:04:46" updateDate="2015-06-17T10:04:58" nodeName="Payment Result" urlName="payment-result" writerName="admin" creatorName="admin" path="-1,1097,1101,1120" isDoc="">
        <pageTitle>Payment Result</pageTitle>
        <browserTitle>Payment Result</browserTitle>
      </AdminAccountPaymentResultPage>
      <AdminAccountPaymentMethod id="1121" parentID="1101" level="3" writerID="0" creatorID="0" nodeType="1092" template="1084" sortOrder="5" createDate="2015-06-17T10:05:19" updateDate="2015-06-17T10:05:39" nodeName="Payment Method" urlName="payment-method" writerName="admin" creatorName="admin" path="-1,1097,1101,1121" isDoc="">
        <pageTitle>Payment Method</pageTitle>
        <browserTitle>Payment Method</browserTitle>
      </AdminAccountPaymentMethod>
      <AdminAccountInvoice id="1123" parentID="1101" level="3" writerID="0" creatorID="0" nodeType="1109" template="1082" sortOrder="6" createDate="2015-06-17T10:06:22" updateDate="2015-06-17T10:07:07" nodeName="Invoice" urlName="invoice" writerName="admin" creatorName="admin" path="-1,1097,1101,1123" isDoc="">
        <pageTitle>Invoice</pageTitle>
        <browserTitle>Invoice</browserTitle>
      </AdminAccountInvoice>
      <AdminAccountReceipt id="1124" parentID="1101" level="3" writerID="0" creatorID="0" nodeType="1107" template="0" sortOrder="7" createDate="2015-06-17T10:07:37" updateDate="2015-06-17T10:07:50" nodeName="Receipt" urlName="receipt" writerName="admin" creatorName="admin" path="-1,1097,1101,1124" isDoc="">
        <pageTitle>Receipt</pageTitle>
        <browserTitle>Receipt</browserTitle>
      </AdminAccountReceipt>
      <AdminSafetyAndPrivacyPage id="1127" parentID="1101" level="3" writerID="0" creatorID="0" nodeType="1126" template="1125" sortOrder="8" createDate="2015-06-17T10:13:25" updateDate="2015-06-17T10:13:39" nodeName="Safety and Privacy" urlName="safety-and-privacy" writerName="admin" creatorName="admin" path="-1,1097,1101,1127" isDoc="">
        <pageTitle>Safety and Privacy</pageTitle>
        <browserTitle>Safety and Privacy</browserTitle>
      </AdminSafetyAndPrivacyPage>
      <AdminAccountPaymentCancelPage id="1131" parentID="1101" level="3" writerID="0" creatorID="0" nodeType="1130" template="1129" sortOrder="9" createDate="2015-06-24T10:36:45" updateDate="2015-06-24T10:37:08" nodeName="Payment Cancel" urlName="payment-cancel" writerName="admin" creatorName="admin" path="-1,1097,1101,1131" isDoc="">
        <pageTitle>Payment Cancellation</pageTitle>
        <browserTitle>Payment Cancellation</browserTitle>
      </AdminAccountPaymentCancelPage>
    </AdminAccountPage>
    <KeepAlive id="1105" parentID="1097" level="2" writerID="0" creatorID="0" nodeType="1104" template="1103" sortOrder="2" createDate="2015-06-16T10:20:41" updateDate="2015-06-16T10:57:21" nodeName="KeepAlive" urlName="keepalive" writerName="admin" creatorName="admin" path="-1,1097,1105" isDoc="">
      <pageTitle>KeepAlive</pageTitle>
      <browserTitle>KeepAlive</browserTitle>
    </KeepAlive>
  </AdminHomePage>
</root>