<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="fileInfo" xsi:type="File" fileName="C:\Hosting\Logs\EasyList.Data.API.REST INFO ${shortdate}.log" />
    <target name="fileWarn" xsi:type="File" fileName="C:\Hosting\Logs\EasyList.Data.API.REST WARN ${shortdate}.log" />
	<target name="fileDebug" xsi:type="File" fileName="C:\Hosting\Logs\EasyList.Data.API.REST DEBUG ${shortdate}.log" />
    <target name="fileError" xsi:type="File" fileName="C:\Hosting\Logs\EasyList.Data.API.REST ERROR ${shortdate}.log" />
  </targets>

  <rules>
	<logger name="*" minlevel="Debug" writeTo="fileDebug" />
    <logger name="*" minlevel="Info" writeTo="fileInfo" />
    <logger name="*" levels="Warn" writeTo="fileWarn" />
    <logger name="*" minlevel="Error" writeTo="fileError" />
  </rules>

</nlog>
