<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="EasyListQueueConfig"
             type="EasyList.Queue.Repo.EasyListQueueConfigHandler, EasyList.Queue.Repo"
             allowLocation="true"
             allowDefinition="Everywhere" />
  </configSections>
  

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpRuntime executionTimeout="4800" maxRequestLength="15360000" maxUrlLength="2048"/>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="StandardCachePolicy" duration="180" varyByParam="*"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>

  <system.serviceModel>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0" />
	<bindings>
	  <webHttpBinding>
		<binding>
		  <readerQuotas maxStringContentLength="65535"/>
		</binding>
	  </webHttpBinding>
	</bindings>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- 
            Configure the WCF REST service base address via the global.asax.cs file and the default endpoint 
            via the attributes on the <standardEndpoint> element below
        -->
        <!--<standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>-->
        
        <!--<standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="false" defaultOutgoingResponseFormat="Json" maxReceivedMessageSize="15360000" maxBufferSize="15360000" transferMode="Buffered"/>-->
        
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" defaultOutgoingResponseFormat="Xml" maxReceivedMessageSize="15360000" maxBufferSize="15360000" transferMode="Buffered" />
        
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
  
  <appSettings>
    <!--dbProvider : MONGO / SQL / JSON-->
    <!--MONGO-->
    <add key="dbProvider" value="MONGO"/>
    
    <!--<add key="dbConnectionString" value="mongodb://easyco:BXTm4klx5RuZuFQoyuRDV7bu9v@mongodb1.el.syd.easylist.com.au:27017,mongodb2.el.syd.easylist.com.au:27017,mongodb3.el.syd.easylist.com.au:27017/?replicaSet=rsEL"/> -->
	<add key="dbConnectionString" value="mongodb://easyco:BXTm4klx5RuZuFQoyuRDV7bu9v@mongodb1.el.staging.easylist.com.au:27050"/>
    
    <add key="dbDatabaseName" value="EasyListNew"/>

    <add key="trustAndSafetyDbProvider" value="MONGO"/>
    <!-- add key="trustAndSafetyDbConnectionString" value="mongodb://easyco:BXTm4klx5RuZuFQoyuRDV7bu9v@mongodb1.apis.syd.easylist.com.au:27017,mongodb2.apis.syd.easylist.com.au:27017,mongodb3.apis.syd.easylist.com.au:27017/?replicaSet=rsApis" />-->
	<add key="trustAndSafetyDbConnectionString" value="mongodb://easyco:BXTm4klx5RuZuFQoyuRDV7bu9v@mongodb1.apis.staging.easylist.com.au:27050" />
	
    <add key="trustAndSafetyDbDatabaseName" value="TrustAndSafety"/>
    <add key="trustAndSafetyListingSchemaVersion" value="1"/>
    <add key="trustAndSafetyAutoBlackListNumberOfDays" value="10"/>
    
    <!--const string baseImagePath = @"C:\Hosting\images001.easylist.com.au\";
    const string baseImageUrl = @"http://d24b7s7vgwc3p7.cloudfront.net/";
    string baseCdnUrl = @"http://images.tradingpost.com.au/";-->
    
    <add key="ImagePath" value="C:\Images\"/>
    <add key="ImageURL" value="https://d24b7s7vgwc3p7.cloudfront.net"/>
    <add key="ImageCDNUrl" value="http://images.tradingpost.com.au"/>
    <add key="ImageThumbnailUrl" value="https://d24b7s7vgwc3p7.cloudfront.net"/>

    <!-- Image limit global setting, TODO User setting to override -->
    <add key="ImageLimitPrivate" value="9"/>
    <add key="ImageLimitBusiness" value="50"/>

    <!-- Video limit global setting, TODO User setting to override -->
    <add key="VideoLimitPrivate" value="9"/>
    <add key="VideoLimitBusiness" value="25"/>

    <add key="ActivationURL" value="https://dashboard.easylist.com.au/login?ActivationKey="/>
    <add key="BusinessActivationURL" value="https://dashboard.easylist.com.au/action/activation.aspx?ActivationKey="/>

    <add key="TurnOnListingCRUD" value="true"/>
    
    <!-- Login Setting -->
    <add key="TurnOnOTP" value="true"/>
    <add key="OTPAPIUrl" value="http://otp.api.easylist.com.au"/>

    <add key="SMTPProtocol" value="http"/>
    <add key="SMTPHost" value="messaging.api.easylist.com.au"/>
    <add key="SMTPSecret" value="EB78CAA0-474D-499E-9FD1-B3FA85534180"/>

    <!--SSO Library setting-->
    <add key="TurnOnNewHashing" value="true"/>
    <add key="DefaultPasswordHash" value="UserPassBCrypt"/>
    <add key="BCryptWorkFactor" value="10"/>

    <!--Amazon S3-->
    <add key="BucketName" value="images.easylist.com.au"/>
    
  </appSettings>
  
  
  <!--Email-->

  <EasyListQueueConfig xmlns="http://uniquewebsites.com.au/EasyListQueueConfig.xsd"
                  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                  xsi:noNamespaceSchemaLocation="EasyListQueueConfig.xsd">
    <Bindings>
      <Binding name="/messaging/email"
                type="EasyList.Queue.Repo.Driver.RabbitMQ.RabbitMQBinding, EasyList.Queue.Repo.Driver">
        <Params>
          <!--<Param name="uri" value="amqp://localhost:5672/"/>-->
          <Param name="uri" value="amqp://216.12.192.122:5672/"/>
          <Param name="exchangeName" value="messaging"/>
          <Param name="exchangeType" value="topic"/>
          <Param name="queueName" value="email_queue"/>
          <Param name="key" value="email"/>
          <Param name="durable" value="true"/>
          <Param name="qos" value="1" />
        </Params>
      </Binding>
      <Binding name="/messaging/sms"
              type="EasyList.Queue.Repo.Driver.RabbitMQ.RabbitMQBinding, EasyList.Queue.Repo.Driver">
        <Params>
          <!--<Param name="uri" value="amqp://localhost:5672/"/>-->
          <Param name="uri" value="amqp://216.12.192.122:5672/"/>
          <Param name="exchangeName" value="messaging"/>
          <Param name="exchangeType" value="topic"/>
          <Param name="queueName" value="sms_queue"/>
          <Param name="key" value="sms"/>
          <Param name="durable" value="true"/>
          <Param name="qos" value="1" />
        </Params>
      </Binding>
    </Bindings>
  </EasyListQueueConfig>
</configuration>
